<div class="row justify-content-center">
  <div class="col-8">
    <div *ngIf="capBac">
      <h2 data-cy="capBacDetailsHeading"><span>Cap Bac</span></h2>

      <hr />

      <jhi-alert-error></jhi-alert-error>

      <jhi-alert></jhi-alert>

      <dl class="row-md jh-entity-details">
        <dt><span>ID</span></dt>
        <dd>
          <span>{{ capBac.id }}</span>
        </dd>
        <dt><span>Ten Cap</span></dt>
        <dd>
          <span>{{ capBac.tenCap }}</span>
        </dd>
      </dl>

      <button type="submit" (click)="previousState()" class="btn btn-info" data-cy="entityDetailsBackButton">
        <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
      </button>

      <button type="button" [routerLink]="['/cap-bac', capBac.id, 'edit']" class="btn btn-primary">
        <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
      </button>
    </div>
  </div>
</div>
